<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>果物判定サイト</title>

    <style>
        div.center_block {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            margin-bottom: 10%;
        }

        div.reg {
            background-color: #EEEEEE;
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
            text-align: center;
        }

        .img_css {
            width: 75%;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <br>
    <h1>入力画像の判定結果</h1>
    <br>

    <div class="reg">
        <h3>
            果物判定したい画像をアップロードしてください
        </h3>
        <table>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">果物判定を実行</button>
                <p></p>
            </form>
        </table>
    </div>

    <div class="center_block">
        <h2>
            入力画像
        </h2>
        <img src="{{original_url}}" class="img_css">
        <p><br></p>

        <p>
            入力画像は
            <strong>
                <font size="4.5">
                    {{classify_result}}
                </font>
            </strong>
            と判定されました。
        </p>
        <p><br></p>
        <p><br></p>
    </div>
</body>

</html>